{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    <h2>Total number of venues: {{ venue_length }} </h2>
    <h2>Total number of online venues: {{ venue_online }} </h2>
    <h2>Total number of offline venues: {{ venue_offline }} </h2>
    <div>
        {% for venue in venues %}
            <div class="gallery">
                <a target="_blank" href="feeds/{{venue.venue_name}}/{{venue.venue_name}}_big.jpeg">
                    <img src="{% static '' %}feeds/{{venue.venue_name}}/{{venue.venue_name}}.jpeg" alt="Capture currently available" onerror="this.onerror=null;this.src='/static/placeholder/unavailable.jpg';">
                </a>
                <div class="desc">{{venue.venue_name}}</div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
