{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="btn-group">
        <a class="{{all_active}}" href="{% url 'dashboard' %}">Total Venues <span>{{ venue_length }}</span></a>
        <a class="{{online_active}}" href="{% url 'online' %}">Online Venues <span>{{ venue_online }}</span></a>
        <a class="{{offline_active}}" href="{% url 'offline' %}">Offline Venues <span>{{ venue_offline }}</span></a>
    </div>
    <div>
        {% for venue in venues %}
            <div class="gallery">
                <a id="{{venue.venue_name}}" href="#" onClick="popup(this.id)">
                    <img class="{{venue.outOfDate}}" src="{% static '' %}feeds/{{venue.venue_name}}/{{venue.venue_name}}.jpeg" alt="Capture currently available" onerror="this.onerror=null;this.src='/static/placeholder/unavailable.jpg';">
                </a>
                <div class="desc">{{venue.venue_name}}</div>
            </div>
        {% endfor %}
    </div>

    <div id="popup">
        <div class="popup-content">
            <h1 id="heading"></h1>
            <img id="popUpImage" alt="Capture currently available" onerror="this.onerror=null;this.src='/static/placeholder/unavailable.jpg';">
            <p><button onclick="closePopup()">Close</button></p>
        </div>
    </div>

    <script>
        var popup1 = document.getElementById("popup");

        function popup(id) {
            document.getElementById("popUpImage").src = "/static/feeds/" + id + "/" + id + "_big.jpeg";
            document.getElementById("heading").innerHTML = id;
            popup1.style.display = "block";
        }

        function closePopup() {
            console.log("close");
            popup1.style.display = "none";
        }
    </script>
{% endblock content %}
