{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    <table>
        <tr>
            <th>Venue</th>
            <th>Last update</th>
            <th>Sync update</th>
            <th>CA Status</th>
        </tr>
        {% for venue in venues %}
            <tr>
                <td>{{venue.venue_name}}</td>
                <td>{{venue.last_updated}}</td>
                <td>{{venue.sync_time}}</td>
                <td>{{venue.status}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
