body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    src: local('Open Sans'), url('/static/fonts/OpenSans-Regular.ttf') format('truetype');
}

#content {
    margin-left: 15%;
}

h1, h2 {
    margin-left: 1%;
    margin-top: 0px;
}

/*Menu bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #0090CF;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*logo*/
#logo {
    width: 80%;
    position: absolute;
    bottom: 0;
    margin-left: 10%;
    margin-bottom: 10%;

}

/*Capture tile styling*/
div.gallery {
    margin: 1%;
    border: 1px solid #ccc;
    float: left;
    width: 22%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*Table styling*/
table {
    border-collapse: collapse;
    width: 98%;
    margin-left: 1%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

th {
    background-color: #0090CF;
    color: white;
}

/*Popup*/
#popup {
	display: none;
    position: fixed;
    padding: 10px;
    width: 40%;
    left: 35%;
    height: 60%;
    top: 20%;
    background: #FFF;
    z-index: 20;
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.popup-content {
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
}